extends ../layouts/common

block content
    .container.bg-light.mt-5(style='padding: 10px; border-radius: 5px;')
        #userX
        .d-flex.justify-content-center
            if userX.avatar
                img(src= '/'+userX.avatar, width='256', height='256', style='border-radius: 50%')
            else
                img(src='/images/avatar.png', width='256', height='256')
        .text-center
            h1= userX.name
        table.table
                tr
                    th Full Name
                    th Email
                    th Gender
                    th DoB
                    th Country
                    tr
                        td= userX.name
                        td= userX.email
        .text-end
            a(href='/users', style='font-size: 24px;') Back
